*{
    font-family:arial;
 }
 
 .erreur{
     display: flex;
     flex-direction: column;
    margin-left: 30%;
    background-color: rgb(122, 130, 172);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 80vh;
    padding: 1%;
    /* margin-left: 30%; */

    
 }
 /* form{
    
    justify-content: center;

 } */
 .input{
    border:solid 1px #2222AA;
    margin-bottom:10px;
    padding:16px;
    width: 80%; 
    outline:none;
    border-radius:6px;
 }
 